<div class="container">
  <div class="row">

  <div class="col-md-6">
    <div class="chart-wrapper">
      <canvas baseChart 
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>
    </div>
  </div>

  <div class="col-md-6">
    <div class="chart-wrapper">
      <canvas baseChart 
      [data]="pieChartData" 
      [labels]="pieChartLabels" 
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend">
    </canvas>
  </div>
  </div>
</div>
</div>


<router-outlet></router-outlet>
